@import url('https://fonts.googleapis.com/css?family=Hind+Siliguri:300,400,500,600,700');

*{
    font-family: 'Hind Siliguri', sans-serif;

}
.Container{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0%;
    top:0%;
}

.FlexCenter{
    display: flex;
    justify-content: center;
    align-items: center;
}