.IndexWrapper{
    max-width: 32em;
}
.Background{
    background: url("https://images.wallpaperscraft.com/image/planet_light_spots_space_86643_1920x1080.jpg");
    background-size: cover;
}

.Footer{
  position: absolute;
  top:10px;
  right: 10px;
  color: white;
  font-size: 1em;

}
